'exception-reporting':
  'userId': 'dca269d3-3067-88a1-4710-4957e8a4c10f'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'c70b4b19d42d783651f5b2fce2f0d52851bcfbdc'
'editor':
  'fontSize': 12
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui-slim'
    'atom-dark-syntax'
  ]
'php-checkstyle':
  'phpcsFixerExecutablePath': '/usr/local/bin/php-cs-fixer'
